.translation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .translation-button-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5px;
    margin-left: 100px;
  }
  
  .title {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
    color: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    background-image: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }
  
  .input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    background: #052D56;
    border: 2px solid var(--color_footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    background: #FF4820;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;
  }
  
  .input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button:hover {
    background: linear-gradient(to right, rgba(0, 30, 63, 1), rgba(3, 9, 18, 1));
  }
  
  .translated-text-container {
    margin-top: 1rem;
  }
  
  .translated-text-container p {
    font-size: 16px;
    color: #fff;
  }
  
  .translated-text-container strong {
    font-weight: bold;
  }
  